@model ccct2019.Data.NganchanGiaitoa
<div class="modal fade" id="XemncgtModal" data-keyboard="false" data-backdrop="static" ng-app="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-gradient-primary">
                <h4 class="modal-title font-weight-bold"><i class="fa fa-eye"></i> Xem thông tin Ngăn chặn, Giải tỏa</h4>
                <button type="button" class="close" onclick="searchNganchangiaitoa();" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row text-sm">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header bg-gradient-cyan">
                                            <h4 class="card-title font-weight-bold">1. Thông tin giấy chứng nhận</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-group input-group-sm mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="scn">Số GCN</span>
                                                </div>
                                                <input type="text" id="gcn" name="gcn" value="@Model.SoGCN" class="form-control" aria-label="Small" aria-describedby="scn" disabled>

                                            </div>
                                            <div class="input-group input-group-sm mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="fnoicap">Nơi cấp</span>
                                                </div>
                                                <input type="text" name="noicap" value="@Model.Noicap" id="noicap" class="form-control" aria-label="Small" aria-describedby="fnoicap" disabled>

                                            </div>
                                            <div class="input-group input-group-sm mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="fngaycap">Ngày cấp</span>
                                                </div>
                                                <input type="text" name="ngaycap" value="@(Model.Ngaycap?.ToString("dd/MM/yyyy"))" id="ngaycap" class="form-control" aria-label="Small" aria-describedby="fngaycap" disabled>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header bg-gradient-cyan">
                                            <h4 class="card-title font-weight-bold">2. Thông tin chủ sở hữu</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-group input-group-sm mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="fhoten">Họ tên</span>
                                                </div>
                                                <input type="text" id="hoten" value="@Model.Chusohuu" name="hoten" class="form-control" aria-label="Small" aria-describedby="fhoten" disabled>

                                            </div>
                                            <div class="input-group input-group-sm mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="fdiachicsh">Địa chỉ</span>
                                                </div>
                                                <input type="text" class="form-control" value="@Model.Diachichusohuu" id="diachi" name="diachi" aria-label="Small" aria-describedby="fdiachicsh" disabled>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header bg-gradient-cyan">
                                            <h4 class="card-title font-weight-bold">3. Thông tin tài sản</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-group input-group-sm mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="fthuadat">Thửa đất số</span>
                                                </div>
                                                <input type="text" id="thuadat" value="@Model.Thuadatso" name="thuadat" class="form-control" aria-label="Small" aria-describedby="fthuadat" disabled>

                                            </div>
                                            <div class="input-group input-group-sm mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="fbandoso">Bản đồ số</span>
                                                </div>
                                                <input type="text" id="bandoso" name="bandoso" value="@Model.Bandoso" class="form-control" aria-label="Small" aria-describedby="fbandoso" disabled>

                                            </div>
                                            <div class="input-group input-group-sm mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="fdiachi">Địa chỉ</span>
                                                </div>
                                                <input type="text" id="diachithuadat" value="@Model.Diachithuadat" name="diachithuadat" class="form-control" aria-label="Small" aria-describedby="fdiachi" disabled>

                                            </div>
                                            <div class="input-group input-group-sm mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="fdientich">Diện tích (m<sup>2</sup>) </span>
                                                </div>
                                                <input type="text" class="form-control" value="@Model.Dientich" id="dientich" name="dientich" aria-label="Small" aria-describedby="fdientich" disabled>

                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="input-group input-group-sm mb-4">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="fsudungchung">Sử dụng chung </span>
                                                        </div>
                                                        <input type="text" class="form-control" value="@Model.Sudungchung" id="sudungchung" name="sudungchung" aria-label="Small" aria-describedby="fsudungchung" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="input-group input-group-sm mb-4">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="fsudungrieng">Sử dụng riêng </span>
                                                        </div>
                                                        <input type="text" class="form-control" value="@Model.Sudungrieng" id="sudungrieng" name="sudungrieng" aria-label="Small" aria-describedby="fsudungrieng" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-sm mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="fmucdichsudung">Mục đích sử dụng </span>
                                                </div>
                                                <textarea class="form-control" id="mucdichsudung" name="mucdichsudung" disabled>@Model.Mucdichsudung</textarea>
                                                @*<input type="text" class="form-control" value="@Model.Mucdichsudung"  aria-label="Small" aria-describedby="fmucdichsudung" disabled>*@
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="fthoihansudung">Thời hạn sử dụng </span>
                                                        </div>
                                                        <input type="text" class="form-control" value="@Model.Thoihansudung" id="thoihansudung" name="thoihansudung" aria-label="Small" aria-describedby="fthoihansudung" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="fnguongoc">Nguồn gốc </span>
                                                        </div>
                                                        <input type="text" class="form-control" value="@Model.Nguongoc" id="nguongoc" name="nguongoc" aria-label="Small" aria-describedby="fnguongoc" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="card">
                                        <div class="card-header bg-gradient-cyan">
                                            <h3 class="card-title font-weight-bold">4. Thông báo Ngăn chặn,Giải tỏa</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-group input-group-sm mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" for="loaivb">VB thuộc loại</span>
                                                </div>
                                                @{
                                                    if (Model.LoaiVB == 1)
                                                    {
                                                        <input type="button" class="form-control btn-danger" value="Ngăn chặn" aria-label="Small" aria-describedby="loaivb" />
                                                    }
                                                    else
                                                    {
                                                        <input type="button" class="form-control btn-success" value="Giải tỏa" aria-describedby="loaivb" />
                                                    }
                                                }


                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-5">
                                                    <div class="input-group input-group-sm mb-4">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="fsokyhieu">Số ký hiệu </span>
                                                        </div>
                                                        <input type="text" id="sokyhieu" value="@Model.Sokyhieu" name="sokyhieu" class="form-control" aria-label="Small" aria-describedby="fsokyhieu" disabled>

                                                    </div>
                                                </div>
                                                <div class="col-7">
                                                    <div class="input-group input-group-sm mb-4">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="fngayvb">Ngày VB </span>
                                                        </div>
                                                        <input type="text" class="form-control" value="@(Model.NgayVB?.ToString("dd/MM/yyyy"))" id="ngayvb" name="ngayvb" aria-label="Small" aria-describedby="fngayvb" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-sm mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="ftrichyeu">Trích yếu </span>
                                                </div>
                                                <input type="text" class="form-control" id="trichyeu" value="@Model.Trichyeu" name="trichyeu" aria-label="Small" aria-describedby="ftrichyeu" disabled>
                                            </div>
                                            <div class="input-group input-group-sm mb-5">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="fnoigui">Nơi gửi </span>
                                                </div>
                                                <input type="text" class="form-control" id="noigui" value="@Model.Noigui" name="noigui" aria-label="Small" aria-describedby="fnoigui" disabled>
                                            </div>
                                            <div class="input-group input-group-sm mb-5">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="flydo">Lý do </span>
                                                </div>
                                                <textarea class="form-control" disabled>@Model.Lydo</textarea>
                                                @*<input type="text" class="form-control" id="lydo" value="@Model.Lydo" name="lydo" aria-label="Small" aria-describedby="flydo" disabled>*@
                                            </div>
                                            <!-- File input field -->

                                            <a type="button" class="btn-link" href="@Model.Filedinhkem" target="_blank"><b class="text-danger"><i class="fa fa-file-archive"></i> Tệp đính kèm  </b>@Model.Filedinhkem.Remove(0, 25)</a>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-2">
                                <div class="card h-100">
                                    <div class="card-header bg-gradient-warning">
                                        <h4 class="card-title font-weight-bold">Kiểm tra thông tin</h4>
                                    </div>
                                    <div class="input-group input-group-sm mb-4">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="search-check"><i class="fa fa-search-plus"></i> </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="GCN, Nơi cấp" aria-label="Small" aria-describedby="search-check">
                                    </div>

                                    <div class="card-body">
                                        <div class="h-100 p-3 control-sidebar-content os-host os-theme-light os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-overflow os-host-overflow-y os-host-transition">
                                            <div class="os-resize-observer-host">
                                                <div class="os-resize-observer observed" style="left: 0px; right: auto;">
                                                </div>
                                            </div>
                                            <div class="os-size-auto-observer" style="height: calc(100% + 1px); float: left;">
                                                <div class="os-resize-observer observed">
                                                </div>
                                            </div>
                                            <div class="os-content-glue" style="margin: -16px; width: 249px; height: 210px;">
                                            </div>
                                            <div class="os-padding">
                                                <div class="os-viewport os-viewport-native-scrollbars-invisible h-100" style="overflow-y: scroll;">
                                                    <div class="os-content" style="padding: 16px; height: 100%; width: 100%;">

                                                        <div class="alert alert-warning alert-dismissible">
                                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                            <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                                                            Warning alert preview. This alert is dismissable.
                                                        </div>
                                                        <div class="alert alert-warning alert-dismissible">
                                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                            <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                                                            Warning alert preview. This alert is dismissable.
                                                        </div>
                                                        <div class="alert alert-warning alert-dismissible">
                                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                            <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                                                            Warning alert preview. This alert is dismissable.
                                                        </div>
                                                        <div class="alert alert-warning alert-dismissible">
                                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                            <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                                                            Warning alert preview. This alert is dismissable.
                                                        </div>
                                                        <div class="alert alert-warning alert-dismissible">
                                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                            <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                                                            Warning alert preview. This alert is dismissable.
                                                        </div>
                                                        <div class="alert alert-warning alert-dismissible">
                                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                            <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                                                            Warning alert preview. This alert is dismissable.
                                                        </div>
                                                        <div class="alert alert-warning alert-dismissible">
                                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                            <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                                                            Warning alert preview. This alert is dismissable.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable">
                                                <div class="os-scrollbar-track">
                                                    <div class="os-scrollbar-handle" style="transform: translate(0px, 0px); width: 100%;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="os-scrollbar os-scrollbar-vertical">
                                                <div class="os-scrollbar-track">
                                                    <div class="os-scrollbar-handle" style="transform: translate(0px, 0px); height: 16.3186%;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="os-scrollbar-corner">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <input type="hidden" value="@Session["userid"]" id="UserID" />
                </form>
            </div>

            @*<div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-success" ng-disabled="addNCGT.$invalid" onclick="addNcgt();"><i class="fa fa-plus"></i> Lưu lại</button>
                </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
